.form-input {
	position: relative;
	margin: 12px 0;
}

input {
	display: block;
	width: 100%;
	padding: 8px 16px;
	transition: border 200ms ease-in-out, box-shadow 200ms ease-in-out;
	color: #FFF;
	color: $text-primary;
	border: 1px solid rgba($text-primary, .1);
	border-radius: 4px;
	background: $background-secondary;
	font-size: 1rem;

	&:focus {
		border-color: $accent-primary;
		box-shadow: 0 0 4px -1px rgba($accent-primary, .7);
	}
}

button, .button {
	margin: 0 12px;
	padding: 8px 28px;
	cursor: pointer;
	text-decoration: none;
	color: $text-primary;
	border: none;
	border-radius: 3px;
	box-shadow: 0 0 6px 0 #0008;
	font-size: .9rem;
	
	/* Default */
	background: linear-gradient(to right, lighten(adjust_hue($background-primary, 5), 3), lighten(adjust_hue($background-primary, -5), 1));
	&:hover {
		background: linear-gradient(to right, lighten(adjust_hue($background-primary, 5), 9), lighten(adjust_hue($background-primary, -5), 4));
	}
	&:active {
		background: linear-gradient(to right, darken(adjust_hue($background-primary, 5), 3), darken(adjust_hue($background-primary, -5), 5));
		box-shadow: none;
	}

	/* Primary */
	&.primary {
		background: linear-gradient(to right, lighten(adjust_hue($accent-primary, 5), 5), adjust_hue($accent-primary, -5));
		&:hover {
			background: linear-gradient(to right, lighten(adjust_hue($accent-primary, 5), 15), lighten(adjust_hue($accent-primary, -5), 10));
		}
		&:active {
			background: linear-gradient(to right, darken(adjust_hue($accent-primary, 5), 5), darken(adjust_hue($accent-primary, -5), 10));
		}
	}
}

input, button, .button {
	font-family: $font-face;
}

.search {
	padding-left: 34px;

	& + div {
		position: absolute;
		top: 11px;
		left: 9px;
		width: 18px;
		height: 18px;
		background: url("../img/search-icon.png");
		background-size: 18px;
	}
}

form.inline-form {
	display: flex;
	align-items: center;

	& > *:not(:last-child) {
		flex: 1 1 0;
	}
}
