.page-title {
	display: inline-block;
	margin-top: 24px;
	font-size: 3rem;
	line-height: normal;
}

article {
	h1, h2, h3, h4, h5 {
		line-height: normal;	
	}

	h1, h2, h3 {
		font-weight: 100;
	}

	h1 {
		margin: 2rem 0 0;
		font-size: 2rem;
	}

	h2 {
        padding-top: 0.6em;
		margin: 1.8rem 0 0;
		font-size: 1.8rem;
	}

	h3 {
		margin: 1.6rem 0 0;
		font-size: 1.6rem;
	}

	h4 {
		margin: 1.2rem 0 0;
		font-size: 1.2rem;
		font-weight: 400;
	}

	h5 {
		margin: 1rem 0 0;
		font-size: 1rem;
		font-weight: 700;
	}
}
