.tabs {
    .tab-header {
        position: relative;
        box-shadow: none;
        border: 1px solid #0006;
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &:not(:first-child) {
            margin-left: -8px;
        }

        &.active::after {
            position: absolute;
            display: block;
            content: " ";
            bottom: 0;
            left: 0;
            right: 0;
            height: 3px;
            background-color: $accent-primary;
        }
    }

    .tab-contents {
        margin-top: -18px;
    }

    .tab-content {
        margin-top: 18px;

        &:not(.active) {
            display: none;
        }
    }
}
