.toc {
	flex: 1 1 $toc-width;

	ul {
		padding-left: 12px;
		list-style: none;

		a {
			text-decoration: none;
			color: rgba($text-primary, .9);
			font-size: .85rem;
			font-weight: 500;
			line-height: 2;

			&:hover {
				color: $accent-primary;
			}
		}
	}
}

#TableOfContents {
	position: sticky;
	top: 76px;
}

.toc.wide-article {
	flex: 1 1 0;
}

@include desktop-only() {
	.toc-header {
		display: none;
	}
}

@include tablet-mobile() {
	.toc {
		order: -1;
		flex: auto;

		ul {
			padding-left: 36px;
			margin-bottom: 0;
			max-height: 500px;
			overflow: auto;
			transition: max-height 150ms cubic-bezier(1, 0, 1, 0.5), margin-top 150ms ease-out;
		}

		.toc-header {
			position: relative;
			margin: 24px 12px 0;
			font-size: 1.3rem;
			opacity: 1;
			transition: opacity 150ms ease-out;
			cursor: pointer;

			&::after {
				content: " ";
				display: block;
				position: absolute;
				top: 50%;
				right: 12px;
				transform: translateY(-25%) rotate(315deg);
				border-top: 2px solid $text-primary;
				border-right: 2px solid $text-primary;
				width: 8px;
				height: 8px;
				transition: transform 150ms ease-out;
			}
		}

		&.collapsed {

			ul {
				max-height: 0;
				overflow: hidden;
				margin-top: 0;
				transition: max-height 150ms cubic-bezier(0, 1, 0.5, 1), margin-top 150ms ease-out;
			}

			.toc-header {
				opacity: 0.4;

				&::after {
					transform: translateY(-75%) rotate(135deg);
					opacity: 0.4;
				}
			}
		}
	}
}
