table {
	width: 100%;
	margin: 16px 0;
	margin-bottom: 12px;
	border-spacing: 0;
	border: 1px solid rgba($text-primary, .15);
	border-radius: 2px;
	font-size: 92%;

	thead {
		text-align: left;
		background: rgba($text-primary, .15);
	}

	tbody tr:not(:last-child) td {
		border-bottom: 1px solid rgba($text-primary, .07);
	}

	td, th {
		padding: 8px;
	}

	// Modification to margins/padding for lists inside table
	ul, ol {
		margin: 0;
		padding: 0 0 0 20px;
	}
}
