header {
	position: fixed;
	z-index: 10;
	top: 0;
	width: 100%;
	height: $header-height;
	border-bottom: 1px solid lighten($background-primary, 3);
	background: $background-primary;
	box-shadow: 0 0 7px 1px #0007;

	.container {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		margin: auto;
		max-width: $content-width + $nav-width + $toc-width;
	}

	// Link list
	.site-links {
		list-style: none;
		padding: 0 16px;
		white-space: nowrap;
		overflow-y: auto;

		li {
			display: inline-block;
		}

		a {
			text-decoration: none;
			color: $text-primary;
			font-size: 1.2rem;
			font-weight: 400;
			padding: 0 4px;
		}
	}
}

@include mobile-only {
	header .site-links {
		display: none;
	}

	.site-title {
		width: auto;
		flex-grow: 1;
		text-align: center;
	}

	.site-logo {
		order: 1;
	}
}

@include tablet-mobile() {
	.site-search {
		display: none;
	}
}

@include desktop-only() {
	.header-spacer {
		flex: 1 1 0;
	}
}

.site-title {
	font-size: 1.4rem;
	font-weight: 700;
	width: 240px; // Set a width so that when navigating to pages with different titles, the links don't "jump" left/right
}

.site-logo {
	width: 40px;
	height: 40px;
	margin: 8px;
}

.site-search {
	width: 380px;
	position: relative;
	top: 2px;
}
