// ----------------- //
// Define variables //
// --------------- //
// Layout
$article-padding-x: 56px;

// Colors
//$background-primary: #F9F9F9;
$background-primary: #282C34;
$background-secondary: darken($background-primary, 4);
//$text-primary: #333;
$text-primary: #EEE;
$accent-primary: #B2B200;

// Font
$font-face: "Open Sans", sans-serif;
$font-weight: 300;
$font-size: 16px;

// Layout
$header-height: 60px;
$content-width: 780px;
$nav-width: 268px;
$toc-width: 220px;

// last published
.italic {
  font-style: italic;
}
.date-info {
  font-family: amiri,times new roman,georgia,serif;
  font-size: 1.13rem;
}

ins {
  min-height: 600px;
}
@media only screen and (max-width: 1320px){
  ins {
    min-height: 160px;
    margin-top: 8px;
  }
}

h1 {
  border-top: 1px gray solid;
  padding-top: 15px;
  border-radius: 3px;
}

.next-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.page-link {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}
.page-link-prev {
  text-align: left;
}
.page-link-next {
  text-align: right;
}
.divider {
  color: #888;
  padding: 0 10px;
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url('/Docs/fonts/MaterialIconsOutlined.woff2') format('woff2');
  font-display: block;
}

a[target="_blank"]:after {
  content: "\e89e";
  margin-left: 5px;

  font-family: 'Material Symbols Outlined';
  font-weight: lighter;
  font-style: normal;
  font-size: 80%;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

// ------------------------ //
// Import other SASS files //
// ---------------------- //
@import
  "util/breakpoints",
  "base",
  "header",
  "nav",
  "page",
  "simplebar";
