<header>
	<div class="container">
		<!-- Image and title -->
		<img class="site-logo" src="{{ "/assets/img/site-logo.png" | relative_url }}">
		<span class="site-title">{{ include.title }}</span>

		<!-- Site-links -->
		<ul class="site-links">
			<li><a href="https://github.com/antonpup/Aurora/releases/latest">Download</a></li>
			<li><a href="{{ "/docs" | relative_url }}">Documentation</a></li>
			<li><a href="https://discord.gg/YAuBmg9">Discord</a></li>
			<li><a href="https://github.com/antonpup/Aurora">Github</a></li>
		</ul>

		<!-- Spacer element -->
		<div style="flex: 1 1 0"></div>

		{% if include.search %}
		<form action="{{ "/docs/search.html" | relative_url }}" class="site-search">
			<input name="q" type="search" placeholder="Search documentation..." />
		</form>
		{% endif %}
	</div>
</header>
