// ----------------- //
// Define variables //
// --------------- //
// Layout
$article-padding-x: 56px;

// Colors
//$background-primary: #F9F9F9;
$background-primary: #282C34;
$background-secondary: darken($background-primary, 4);
//$text-primary: #333;
$text-primary: #EEE;
$accent-primary: #923BBB;

// Font
$font-face: "Open Sans", sans-serif;
$font-weight: 300;
$font-size: 16px;

// Layout
$header-height: 60px;
$content-width: 780px;
$nav-width: 260px;
$toc-width: 220px;


// ------------------------ //
// Import other SASS files //
// ---------------------- //
@import
  "style/util/breakpoints",
  "style/base",
  "style/header",
  "style/nav",
  "style/page",
  "style/simplebar";
