{{ define "main" }}
<article class="wide">
    <section>
        <!-- Title -->
        <span class="page-title">{{ default $.Site.Title .Title }}</span><br/>

        {{ .Content }}

        <div class="index-list">
            {{ range .Pages }}
                <a href="{{ .Permalink }}" class="button">
                    <p class="item-title">{{ .Title }}</p>
                </a>
            {{ end }}
        </div>
    </section>
</article>
<aside class="toc wide-article collapsed">&nbsp;</aside>
{{ end }}
