{{ define "main" }}
<article class="wide">
    <section>
        <!-- Title -->
        <h1 class="page-title">{{ default $.Site.Title .Title }}</h1><br/>

        {{ .Content }}

        <div class="index-list">
            {{ range .Pages }}
                <a href="{{ .Permalink }}" class="button">
                    <p class="item-title">{{ .Title }}</p>
                </a>
            {{ end }}
        </div>
    </section>
</article>
<aside class="toc collapsed">&nbsp;</aside>
{{ end }}
