html, body {
	margin: 0;
	padding: 0;
	color: $text-primary;
	background: $background-primary;
	font-family: $font-face;
	font-size: $font-size;
	font-weight: $font-weight;

	scroll-behavior: smooth;
}

html {
	/* Force a scrollbar to appear, otherwise the auto margin of the container makes pages with scrollbars'
	navigation menus look out of line with the ones from pages without scrollbars*/
	overflow-y: scroll;
	/* Prevent a scrollbar appearing on mobile when the nav is open */
	overflow-x: scroll;
}

body {
	margin-top: $header-height;
}

* {
	box-sizing: border-box;
}
