html, body {
	margin: 0;
	padding: 0;
	color: $text-primary;
	background: $background-primary;
	font-family: $font-face;
	font-size: $font-size;
	font-weight: $font-weight;
}

body {
	margin-top: $header-height;
}

* {
	box-sizing: border-box;
}
