main {
	position: relative;
	max-width: 1380px;
	margin: auto;
}

nav {
	top: $header-height;
	width: $nav-size;
	bottom: 0;
	position: fixed;
	overflow-y: auto;
}

nav::before {
	content: " ";
	display: block;
}

article {
	margin-left: $nav-size;
	width: calc(100% - #{$nav-size});
}