nav {
	position: fixed;
	top: $header-height;/* By only providing a top value and not a left value, the nav will stay at x=0 relative to the parent (position:relative?)
	parent. This means that regardless of the x position of the main article (and regardless of it's automatic x margin) the nav will always appear
	at the left of it. With the article's margin, this means that it will always be next to the article. */
	bottom: 0;
	overflow-y: auto;
	box-sizing: content-box; /* For all elements this is set to box-sizing since it's usually preferred but we want to set the widht of the content only */
	width: $nav-width;
	margin-left: -1999px; /* Add a large margin offset and an equal padding amount so that the background color stretches off to the left of the window */
	padding: 0 0 0 2007px; /* The left padding should be the absolute left margin + 8px */
	border-right: 1px solid rgba($text-primary, .15);
	background: $background-secondary;
	font-weight: 700;

	.nav-title {
		text-transform: uppercase;
		opacity: .4;
		font-size: .9rem;
	}

	.nav-list {
		padding: 0 0 0 8px;
		list-style: none;
		font-size: .85rem;

		a {
			display: block;
			padding: 6px;
			text-decoration: none;
			color: $text-primary;
			border: 1px solid transparent;
			border-right: none;
		}

		:not(.active) a:hover {
			background: rgba($text-primary, .1);
		}

		.active a {
			color: $accent-primary;
			border: 1px solid rgba($text-primary, .15);
			border-right: none;
			background: $background-primary;
		}
	}

	& > div {
		height: 100%;
		padding: 40px 0;
	}
}

.nav-background {
	position: absolute;
	right: 100%;
	width: 9999px;
	height: 9999px;
	background: $background-secondary;
}
