main {
	position: relative;
	max-width: 1380px;
	margin: auto;
}

article {
	width: calc(100% - #{$nav-size});
	margin-left: $nav-size;
	padding: 12px 56px;
}

.author-list {
	padding: 0;
	list-style: none;

	li {
		position: relative;
		display: inline;

		.avatar {
			border-radius: 50%;
		}

		&::after {
			position: absolute;
			z-index: 99;
			bottom: -24px;
			left: 50%;
			display: block;
			padding: 4px;
			content: attr(data-username);
			transition: opacity 300ms ease-in-out;
			transform: translateX(-50%);
			opacity: 0;
			border-radius: 6px;
			background: black;
			font-size: .8rem;
		}

		&:hover::after {
			opacity: .8;
		}
	}
}

.toc, .toc ul {
	padding-left: 12px;
	list-style: none;

	a {
		text-decoration: none;
		color: rgba($text-primary, .9);
		font-size: .85rem;
		font-weight: 500;
		line-height: 2;

		&:hover {
			color: $accent-primary;
		}
	}
}
