main {
	display: flex;
}

article {
	padding: 12px $article-padding-x;
	text-rendering: optimizeLegibility;
	line-height: 1.7rem;
	flex: 0 1 $content-width;
}

@include mobile-only() {
	article {
		padding: 12px;
	}
}

@include tablet-mobile() {
	main {
		flex-direction: column;
	}

	article {
		flex-grow: 1;
	}
}

hr {
	margin: 0 100px;
	opacity: .4;
}

strong {
	font-weight: bold;
}

article a {
	color: mix($text-primary, $accent-primary, 20%);
	text-decoration: none;

	&:hover {
		border-bottom: 1px solid;
	}
}

// Since the page-related CSS is quite large, it's split up into individual components
@import
	"elements/alert",
	"elements/author-list",
	"elements/code",
	"elements/feature-list",
	"elements/form",
	"elements/headings",
	"elements/image",
	"elements/scrolltotop",
	"elements/search-list",
	"elements/table",
	"elements/toc";
