.feature-list {
	display: grid;
	list-style: none;
	padding: 0;
	grid-template-columns: 33% 33% 33%;

	li {
		padding: 16px;

		img {
			display: block;
			margin: auto;
		}

		span {
			font-size: 1.2rem;
			font-weight: 400;
			display: block;
			color: $accent-primary;
		}

		p, span {
			text-align: center;
		}
	}
}