<article>
    <!-- Title -->
    <h1 class="page-title">{{ default $.Site.Title .Title }}</h1><br/>
    <span class="date-info italic">Last updated {{ .Lastmod.Format "02.01.2006" }}</span>

    <!-- Actual page content -->
    <section>
        {{ .Content }}
    </section>

    <!-- Author List -->
    {{ if isset .Params "authors" }}
    <hr style="margin:28px 100px"/>
    <ul class="author-list">
        {{ range .Params.authors }}
        <li data-username="{{ . }}"><a rel="author" href="https://github.com/{{ . }}" target="_blank">
            <img class="avatar avatar-small" alt="{{ . }}" src="https://github.com/{{ . }}.png?size=32" width="32" height="32" />
        </a></li>
        {{ end }}
    </ul>
    <span class="author-text-label">Page authored by</span>
    {{ end }}
</article>

<!-- Table of Contents -->
<aside class="toc collapsed">
    <div class="toc-header">Table of Contents</div>
    {{ .TableOfContents }}
</aside>
