<article class="wide">
    <!-- Title -->
    <h1 class="page-title">{{ default $.Site.Title .Title }}</h1><br/>
    <span class="date-info italic">Last updated {{ .Lastmod.Format "02.01.2006" }}</span>

    <!-- Actual page content -->
    <section>
        {{ replaceRE `%!d\(string=(\d+px)\)` "$1" .Content | safeHTML }}
    </section>

    <!-- Author List -->
    {{ if isset .Params "authors" }}
    <hr style="margin:28px 100px"/>
    <ul class="author-list">
        {{ range .Params.authors }}
        <li data-username="{{ . }}"><a rel="author" href="https://github.com/{{ . }}" target="_blank">
            <img class="avatar avatar-small" alt="{{ . }}" src="https://github.com/{{ . }}.png?size=32" width="32" height="32" />
        </a></li>
        {{ end }}
    </ul>
    <span class="author-text-label">Page authors</span>
    {{ end }}

    <!-- Prev/Next -->
    <div class="next-post">
        {{ if .NextInSection }}
            <a class="page-link page-link-prev" href="{{ .NextInSection.Permalink }}">« {{ .NextInSection.Title | truncate 50 "..." }}</a>
        {{ else }}
            <span class="page-link"></span>
        {{ end }}

        <span class="divider">|</span>

        {{ if .PrevInSection }}
            <a class="page-link page-link-next" href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title | truncate 50 "..." }} »</a>
        {{ else }}
            <span class="page-link"></span>
        {{ end }}
    </div>

    <!-- Bottom ad -->
    <ins class="adsbygoogle" data-adtest="on" data-ad-test="on"
         style="display:block"
         data-ad-client="ca-pub-2151914442626247"
         data-ad-slot="9668641531"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
</article>

<!-- Table of Contents -->
<aside class="toc collapsed">
    <div class="toc-header">Table of Contents</div>
    {{ .TableOfContents }}
</aside>