<header>
	<div class="container">
		<!-- Mobile-only burger button -->
		<button class="nav-burger" aria-label="Toggle navigation">
			<div></div>
		</button>

		<!-- Image and title -->
		<a href="https://www.project-aurora.com">
			<div class="container">
				<img class="site-logo" src="/img/site-logo.webp" alt="Aurora Logo" width="128" height="128">
				<span class="site-title text-white">{{ $.Site.Title }}</span>
			</div>
		</a>

		<!-- Site-links -->
		<ul class="site-links">
			<li><a href="https://github.com/Aurora-RGB/Aurora/releases">Download</a></li>
			<li><a href="https://discord.gg/YAuBmg9">Discord</a></li>
			<li><a href="https://github.com/Aurora-RGB/Aurora">Github</a></li>
		</ul>

		<!-- Spacer element -->
		<div class="header-spacer"></div>

		<form action="/search" class="site-search">
			<input name="q" type="search" placeholder="Search documentation..." />
		</form>
	</div>
</header>
