<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<meta property="og:url" content="https://www.project-aurora.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="AuroraRGB - Open-Source, Powerful RGB Software">
<meta property="og:image" content="https://www.project-aurora.com/images/card.webp">
<meta property="og:locale" content="en_US" />

{{ if .Params.description }}
<meta name="description" content="{{ default $.Params.description }}">
<meta property="og:description" content="{{ default $.Params.description }}">
{{ else }}
<meta name="description" content="How to use Aurora to control RGB keyboards, mice and others">
<meta property="og:description" content="Aurora is a free open source software that can control various brands of RGB devices and integrate game effects. You can customize profiles to your liking.">
{{ end }}

{{ if .Params.searchTitle }}
<title>{{ default $.Params.searchTitle }} • Aurora Docs</title>
{{ else }}
<title>{{ default $.Site.Title .Title }} •{{ if .Section }}{{ printf " %s •" .Section }}{{ end }} Aurora Docs</title>
{{ end }}
{{ $styles := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.Permalink }}">
<link rel="icon" href="{{ "favicon.ico" | relURL }}">

<script data-adbreak-test="on" async onload="adsLoaded()" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2151914442626247" crossorigin="anonymous"></script>
