<nav id="main-nav">
    <div class="inner-nav">
        <div data-simplebar>
            <!-- Search menu (mobile-only) -->
            <div class="mobile-site-search">
                <form action="/search">
                    <input name="q" type="search" placeholder="Search documentation..." />
                </form>
            </div>

            <!-- Home link-->
            <ul class="nav-list">
                <li class="{{ if .IsHome }}active{{ end }}">
                    <a href="/">Introduction</a>
                </li>
            </ul>

            {{ $cur := . }}
            {{ range $.Site.Sections }}
                <div class="nav-section">
                    <span class="nav-title">{{ .Title }}</span>
                    <ul class="nav-list">
                        {{ range .Pages }}
                            <li class="{{ if eq $cur.Permalink .Permalink }}active{{ end }}">
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            {{ end }}
        </div>
    </div>
</nav>
