{{ $externalLink := resources.Get "js/external-link-fix.js" }}
{{ $tabs := resources.Get "js/tabs-script.js" }}
{{ $mobile := resources.Get "js/mobile.js" }}
{{ $scroll := resources.Get "js/scroll-offset.js" }}
{{ $simplebar := resources.GetRemote "https://unpkg.com/simplebar@latest/dist/simplebar.min.js" }}
{{ $scripts := slice $externalLink $tabs $mobile $scroll $simplebar | resources.Concat "app.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $scripts.Permalink }}"></script>

<script>
    function adsLoaded() {
        (adsbygoogle = window.adsbygoogle || []).push({});
    }
</script>
<script data-adbreak-test="on" async onload="adsLoaded()" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2151914442626247" crossorigin="anonymous"></script>