<!DOCTYPE html>
<html lang="en">
	<head>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134771588-1"></script>
		<script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-134771588-1');</script>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>{{ page.title | escape }} • {{ site.title | escape }}</title>
		<link rel="icon" type="img/ico" href="{{ "/assets/favicon.ico" | relative_url }}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css">
		<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
	</head>
	<body>
		{{ content }}
	</body>
</html>
